<div class="bg-light text-end mx-4">

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout_page' %}" class="mx-2" style="color: red; text-decoration: None;">Logout</a>
    {% else %}
    <a href="{% url 'login_page' %}" class="mx-2" style="color: red; text-decoration: None;">Login</a>
    <a href="{% url 'register_page' %}" class="mx-2" style="color: red; text-decoration: None;">Register</a>
    {% endif %}
</div>



<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">My Company</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index_page' %}">Calc</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog_index_page' %}">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin Panel</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Blog Topics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {% for cat in nav_cats %}

                        <li><a class="dropdown-item" href="{% url 'blog_index_page' %}?cat={{ cat.slug }}">
                                {{ cat.title}}</a></li>

                        {% endfor %}
                    </ul>
                </li>

            </ul>


            <form action="{% url 'blog_index_page' %}" class=" d-flex" role="search" method="get">
                {{ search_form }}
                <button class="btn btn-success" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>